@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Lobster+Two&family=Poppins:ital,wght@0,100;1,100&family=Space+Mono&family=Vollkorn&family=Zeyada&display=swap');
/*font-family: 'Catamaran', sans-serif;
font-family: 'Lobster Two', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Space Mono', monospace;
font-family: 'Vollkorn', serif;
font-family: 'Zeyada', cursive;*/

:root {
	--color-negro: #222;
	--menu-hover: #b68834;
	--color-cafe: #b68834;
	--color-gris: #777;
	--fondo-header: #222;
	--fondo-footer: #282932;

}

body {

	font-size: 14px;
}

header {
	position: relative;
	background-color: var(--fondo-header);
	background-image: url("../img/header-bg.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	top: 0;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}

footer {
	background-color: var(--fondo-footer);
	background-image: url("../img/footer-bg.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 40px;
	color: rgba(255, 255, 255, 0.55);
	text-align: center;
	font-size: 13px;
	font-weight: 600;
}

footer p span {
	color: var(--color-cafe);
}

footer #copy {
	padding: 20px 0;
	margin-top: 5%;
	color: #fff;
	border-top: 1px dashed rgba(255, 255, 255, 0.15);
}

.titulos {
	font-family: 'Poppins', sans-serif;
	color: var(--color-negro);
	font-size: 2.5vw;
	font-weight: bold;
}

.contenido {
	font-family: 'Poppins', sans-serif;
	color: var(--color-negro);
	font-size: 1.3vw;
}

#hero {
	margin: 10vw 5vw;
}

#hero h1 {
	color: white;
	margin-bottom: 3vw;
	width: 70%;
	font-size: 5vw;
}

#about {
	margin: 4vw 0px;
}

.yellow-title {
	color: var(--color-cafe);
	font-size: 2vw;
}

.img-sign {
	width: 30%;
}

.img-about {
	width: 100%;
}

.sub-title {
	font-size: 2vw;
}

#menu {
	margin-bottom: 5vw !important;
}

.card {
	width: 100% !important;
}

.card-price {
	display: flex;
	justify-content: space-between;
}

#kind {
	margin-bottom: 5vw !important;
}

#blog {
	margin-bottom: 5vw !important;
	background-color: var(--color-gris);
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

#img-kind-1 {
	margin: 5%;
	width: 90%;
	height: 90%;
	grid-area: 1 / 1 / 5 / 5;
}

#img-kind-2 {
	margin: 5%;
	width: 90%;
	height: 90%;
	grid-area: 5 / 1 / 13 / 5;
}

#img-kind-3 {
	margin: 5%;
	width: 90%;
	height: 90%;
	grid-area: 1 / 5 / 9 / 13;
}

#img-kind-4 {
	margin: 5%;
	width: 90%;
	height: 90%;
	grid-area: 9 / 5 / 13 / 9;
}

#img-kind-5 {
	margin: 5%;
	width: 90%;
	height: 90%;
	grid-area: 9 / 9 / 13 / 13;
}